{% extends 'user/header.html' %}
{% block body %}


    <div class="card container">

    <h5 class="card-header">Sign up to use Dynamo</h5>


    <div class="card-body">
     <form method="POST">{% csrf_token %}
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control"  name="username" placeholder="Enter Username">
            <small class="form-text text-muted">Use this to sign up later.</small>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password"  name="password" class="form-control" placeholder="Password">
          </div>
        
          <button type="submit" class="btn btn-primary">Sign in</button>
            
        </form>

          <div class="border-top pt-3">
              <small class="text-muted">
                  Already have an account?
                  <a class="ml-2" href="{% url 'login' %}"> Log In </a>
              </small>
          </div>

        </div>

</div>

{% endblock %}